<div class="row clearfix layout layout-left">
  <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
    <h4>{{ include.item.title }}</h4>
    {% if include.item.sub_title %}
      <p><strong>{{ include.item.sub_title }}</strong></p>
    {% endif %}
    {% if include.item.caption %}
      <p>{{ include.item.caption }}</p>
    {% endif %}
  </div>
  <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
    {% if include.item.quote %}
      <p class="quote">{{ include.item.quote }}</p>
    {% endif %}
    {{ include.item.description | markdownify }}
  </div>
</div>
